@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');
body{ font-family: 'Raleway', sans-serif; font-size:18px; line-height: 28px; font-weight:normal; color:#444444; line-height:normal; background:#fff;}
p{line-height: 28px;}
img{max-width: 100%; vertical-align: middle;}
ul{margin: 0; padding: 0; list-style: none;}
.raleway{font-family: 'Raleway', sans-serif;}

/*== globle css ==*/

.row{float: left; width: 100%;}
h1,h2,h3,h4,h5,h6{font-weight:normal;line-height:normal;}
.clearfix {clear: both;display: block;}
*{box-sizing:border-box;}
.wrapper{max-width:1140px; margin: 0 auto; padding: 0 20px}

/*== globle css end ==*/

#header{float: left; width: 100%; border-bottom:1px solid #302e2d; position: relative; z-index: 999;}
#header .wrapper{padding-top: 33px;}
#header a.logo{float: left;}
.navigation{float: right;}
.navigation ul li, .navigation ul{float: left; padding: 0 23px 0;}
.navigation ul li a{float: left; font-size: 13px; font-weight: 600; text-transform: uppercase; color: #fff; padding: 24px 0 32px; text-decoration: none; border-bottom: 3px solid transparent}
.navigation ul li.active a, .navigation ul li a:hover{color: #ff7200; border-bottom: 3px solid #ff7200;}
.search-box{float: right; padding-left: 19px; padding-top: 22px;}
.search-box i{color: #fff;}


.flexsilder, .home-slider{float: left; width: 100%}
.flexslider .slides > li{position: relative !important;}
.slider-content{ width: 100%; left:0; z-index: 999; text-align: center; color: #fff; padding: 150px 0 0}
.slider-content h2{font-size: 60px; font-weight: 800; text-transform: uppercase; line-height: 45px; margin-bottom: 45px;}
.slider-content label{font-size: 18px;}
.home-slider .slides li{ background-size: cover; background-position: 50% 50%; height: 650px}


a.button{background: #ff7200;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 3px;
    padding: 17px 29px;
    text-decoration: none;
    text-transform: uppercase; }
.slider-content a{background: #ff7200;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 3px;
    margin-top: 45px;
    padding: 17px 29px;
    text-decoration: none;
    text-transform: uppercase; }

.about-section{float: left; width: 100%; text-align: center; padding: 90px 0;}
.about-section h2{color: #444; font-size: 35px; font-weight: 700; float: left; width: 100%; margin-bottom: 45px;}
.about-section p{margin-bottom: 35px;}

.services-section{float: left; width: 100%; padding: 90px 0 0; background: #eee; text-align: center;}
.services-section h2{color: #444; font-size: 35px; font-weight: 700; float: left; width: 100%; margin-bottom: 45px;}
.services-section ul{float: left; width: 100%; padding-top: 80px;}
.services-section ul li{float: left; width: 32%; text-align: left; box-sizing:border-box; padding: 0 1%; height: 230px}
.services-section ul li i{float: left; width: 12%; color: #ff7200; font-size: 52px;}
.service-right{float: right; width: 77%}
.service-right h3{font-size: 23px; float: left; width: 100%; color: #444444; font-weight: 600; padding-bottom: 12px;}

.funfact{float: left; width: 100%; min-height: 500px; background-size: cover !important; background-position: center center !important; position: relative;}
.overlay{position: absolute; left:0; top: 0; width: 100%; height: 100%; background:rgba(0, 0, 0, .7);}
.funfact-sec{position: relative; width: 100%; z-index: 999;
    top: 35%;
    transform: translateY(-50%);}
.funfact-sec ul{float: left; width: 100%;}
.funfact-sec ul li{float: left; width: 30%}
.funfact-sec ul li i{color: #ff7200; font-size: 26px;}
.funfact-sec ul li label{float: left; width: 100%; font-size: 45px; color: #fff; font-family: arial; padding-bottom: 20px;}
.funfact-sec ul li span{float: left; width: 100%; font-size: 13px; padding-top: 22px; font-weight: 600; color: #fff; text-transform: uppercase;}
.funfact-sec ul li:last-child{width: 10%;}
.funfact .wrapper {
    max-width: 1120px; height: 500px;
}


/*Akash*/
.footer{ font-size: 18px; background:#333333; width: 100%; float: left; color: #fff;padding: 90px 0 0 }
.footer-inner{ max-width: 930px; margin: 0 auto}
.footer h3{ font-size: 39px; font-weight: 700; float: left; width: 100%; margin-bottom:25px; text-align: center}
.footer p{ color: #898989; text-align: center; font-size: 18px}
.newsletter{ margin: 50px 0; overflow: hidden}
.newsletter input{ background: #fff; padding:20px; border: 0; width: 80%; font-size: 18px}
.newsletter input[type="submit"]{ background: #ff7200; padding:20px 0; color: #fff; cursor: pointer;border: 0; width: 18%; font-size: 18px; float: right}
.footer .links{ overflow: hidden; padding:0}
.footer .links ul{ width: 33%; float: left;}
.footer .links ul li{ padding: 0 0 15px}
.footer a{ color: #fff; text-decoration: none}
.footer .fbot{ width: 100%; float: left; background: #1c1b1b; padding: 30px 0; margin: 50px 0 0}
.footer .fbot p{ float: left}
.footer .fbot .social{ float: right; font-size: 16px; padding: 5px 0 0}
.footer .fbot .social a{display: inline-block; margin: 0 0 0 18px}
.footer a:hover{ color: #ff7200}



.contact-sec{ width: 100%; float: left; background: url(../images/contact-bg.png) no-repeat center center; padding: 90px 0}
.contact-sec .col{width:50%; float: left;}
.contact-sec .col{width:50%; float: left;}
.contact-sec h3{ font-size: 35px; font-weight: 700; letter-spacing: 2px; margin-bottom:25px; margin: 0 0 80px; position: relative}
.contact-sec h3:after{ position: absolute; top: 140%; content: ""; width: 50px; height: 3px; background:#ff7200; left: 0; }
.contact-sec .con-info li{ padding: 0 0 50px 100px; font-size: 16px; position: relative}
.contact-sec .con-info li img{ position: absolute; left: 0; top: 0}
.contact-sec .con-info li strong{font-size: 18px; display: block; padding: 0 0 10px}
.contact-sec .con-info li a{ color: #444444}

.leavemsg li{ width: 50%; float: left; padding: 0 10px 20px}
.leavemsg input, 
.leavemsg textarea{ width: 100%; border:1px solid #ccc; padding: 10px; font-size: 16px; color:#444;font-family: 'Raleway', sans-serif;}
.leavemsg textarea{ height:150px}

.leavemsg input[type="submit"]{ background: #ff7200; padding:14px 20px; color: #fff; cursor: pointer;border: 0; width: auto; font-size: 13px; letter-spacing: 2px; text-transform: uppercase  }


.leavemsg .full{ width: 100%}
.contact-sec .leavemsg h3 { color: #ff7200}



.portfolio-sec{ width: 100%; float: left; padding: 90px 0}
.portfolio-sec h3 {color: #444; font-size: 35px; font-weight: 700; float: left; width: 100%; margin-bottom: 45px; text-align: center}


#info {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;				
	background:#fcf8e3;
	border:1px solid  #fbeed5;
	width:95%;
	max-width:900px;
	margin:0 auto 40px auto;
	font-family:arial;
	font-size:12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

	#info .info-wrapper {
		padding:10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;

	}
	
	#info a {
		color:#c09853;
		text-decoration:none;
	}
	
	#info p {
		margin:5px 0 0 0;
	}


.container { 
	position: relative; 
	width: 960px; 
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;	
}
 
#filters {
	margin:1%;
	padding:0 0 30px;
	list-style:none; width: 100%; float: left; text-align: center; font-size: 18px
}

	#filters li {
		 display: inline-block; padding: 0 15px; font-weight: 600
	}
	
	#filters li span {
		display: block;
		padding:10px 0;		
		text-decoration:none;
		color:#444444;
		cursor: pointer; border-bottom: 3px solid #fff
	}
	
	#filters li span.active {
		 border-color: #ff7200; color: #ff7200
	}
 

 
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:23%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		background: #666;
		cursor:pointer;
	}

	.portfolio img {
		max-width:100%;
		position: relative;
		top:0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);		
	}
	
	.portfolio .label {
		position: absolute;
		width: 100%;
		 
		bottom:-80px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

		.portfolio .label-bg {
			background: #ff7200;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
	
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:10px;
		}
			
			.portfolio .text-category {
				display:block;
				font-size:9px; padding: 5px 0 0
			}
	
	.portfolio:hover .label {
    bottom:0;
  }
	.portfolio:hover img {
    top:-40px;
  }  

	



/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		width: 768px; 
	}
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.container { 
		width: 95%; 
	}
	
	#portfoliolist .portfolio {
		width:48%;
		margin:1%;
	}		

	#ads {
		display:none;
	}
	
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 70%;
	}
	
	#ads {
		display:none;
	}
	
}

/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.testimonial-section{ text-align: center; color: #fff; font-size: 18px; letter-spacing: 1px; line-height: 2; padding: 100px 0}
.testimonial-section.funfact{ min-height: 100px }
.testimonial-section.funfact .wrapper{ height: auto }
.testimonial-section .quote{ font-size: 30px; padding: 0 0 50px; text-align: center; line-height: 80px; width:80px; border:1px solid rgba(255, 255, 255, 0.29); height: 80px; margin: 0 auto 50px}
.testimonial-section .owl-dots{ text-align: center; padding: 20px 0 0 }
.testimonial-section .owl-dot{ width: 10px; height: 10px; display: inline-block; background:#ccc; border-radius: 50%; margin:0 4px; }
.testimonial-section .owl-dot.active{ background:#ff7200;}


.imgs-section{ padding: 140px 0; background-color: #eee; width: 100%; float: left; }



